@import './assets/Fonts.css';
@import "tailwindcss";

@theme{
    --font-sans: "DM Sans";
    --color-black-100: #000;
    --color-gray-100:#dfdfdf;
    --color-white-100:#fff;
    --color-accent-100:#FFC593, #BC7198, #5A77FF;
    
}
@layer components {
    .heading-xl {
        font-size: 32px;
        line-height: 48px;
        letter-spacing: 4.17px;
        font-weight: bold;
        text-transform: uppercase;
        margin-block-end: 1rem;
    }
    @media (min-width:768px){
        .heading-xl {
            font-size: 40px;
        }
    }
    .heading-lg {
        font-size: 24px;
        line-height: 25px;
    }
    .heading-md {
        font-size: 18px;
        line-height: 25px;
    }
    .heading-sm {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
    }
    p{
        font-size: 15px;
        line-height: 25px;
        font-weight: normal;
    }
    a{
        transition:all 0.3s;
    }
    a:hover{
        color: var(--color-gray-100);
    }
    .button-full {
        background-color: var(--color-black-100);
        color:var(--color-white-100);
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: all 0.3s;
        text-transform: uppercase;
    }
    .button-full:hover{
        background-color:var(--color-gray-100);
        color:var(--color-black-100);
    }
    .button-full.button-on-dark{
        background: var(--color-white-100);
        color: var(--clr-black-100);
    }
    .button-full.button-on-dark:hover{
        background: var(--color-gray-100);
    }
    .button-underline{
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: uppercase;
    }
    .button-underline.button-underline-on-dark .text{
        color: var(--color-white-100);
    }
    .button-underline.button-underline-on-dark  img{
        filter: invert();
    }
    .button-underline .text{
        transition: all 0.5s;
    }
    .button-underline:hover .text{
        text-decoration: underline;
    }
    body::after{
        content:"";
        position: fixed;
        inset: 0;
        background-color: var(--color-black-100);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }
    body[data-menu='open']::after{
        opacity: 0.8;
    }
    body:not(body[data-menu='close']){
        overflow-y: hidden;
    }
    @media (min-width:768px){
        body[data-menu='open']::after, body::after{
            opacity: 0;
            pointer-events: none;
        }
    }
    .pricing_table{
        width:min(731px, 100% - 40px);
        margin: 0 auto;
    }
    
    .pricing_table th{
        font-size: 12px;
        letter-spacing: 2px;
        color: var(--color-black-100);
        text-align: left;
    }
    .pricing_table th, .pricing_table td{
        min-width: 71px;
    }
    .pricing_table thead th{
        border-block-end: 1px solid;
        border-block-end-color: var(--color-black-100);
        padding-block-end: 24px;
        width: fit-content;
    }
    .pricing_table tbody tr{
        border-block-end: 1px solid;
        border-block-end-color: var(--color-gray-100);
    }
    .pricing_table tbody th{
        padding-block-start: 24px;
        padding-block-end: 16px;
        width: auto;
    }
    .pricing_table tbody img{
        margin-inline-start: 13px;
        width: auto;
        display: block;
    }
    @media ( max-width:768px ){
        .pricing_table{
            position:relative;
        }
        .pricing_table tr{
            border-collapse: collapse;
       }
        .pricing_table caption{
            display: none;
        }
       .pricing_table th:not(tbody th):not(thead th:nth-of-type(1)){
         display:none
       }
       .pricing_table tbody th{
        display: block;
       }
       .pricing_table tbody img{
        margin-inline:unset;
       }
       .pricing_table td{
        display: inline-block;
        width: 30%;
        height: 48px;
        padding-block-end: 58px;
       }
       .pricing_table td::before{
        content: attr(data-cell);
        margin-block-end: 8px;
        font-size: 10px;
        letter-spacing: 1.65px;
        color: var(--color-black-100);
        font-weight: 700;
        opacity: 0.5;
        text-transform: uppercase;
        position: relative;
        display: block;
       }
    }
    
    .smallgradient{
        position: relative;
    }
    .smallgradient::before{
        content:"";
        position: absolute;
        inset-inline:0;
        inset-block-start: 0;
        height: 6px;
        width: 50%;
        background:linear-gradient(to bottom, var(--color-accent-100));
        z-index: 10;
    }
    @media ( min-width:768px){
        .smallgradient::before{
            content: "";
            position: absolute;
            inset-inline: 0 auto;
            inset-block: 50%;
            height: 95%;
            width: 6px;
            background: linear-gradient(to bottom, var(--color-accent-100));
            transform: translateY(-50%);
        }  
    }

    .hovergradient{
        position: relative;
        top: 0;
        cursor: pointer;
        transition: all 0.3s; 
    }
    .hovergradient::after{
        content:"";
        position: absolute;
        inset-inline:0;
        inset-block-end: 0;
        height: 6px;
        background:linear-gradient(to bottom, var(--color-accent-100));
        z-index: 10;
        opacity: 0;
        transition: all 0.3s;
    }
    .hovergradient:hover{
        top: -24px;
    }
    .hovergradient:hover::after{
        opacity: 1;
    }

    .topgradient{
        position:relative;
    }
    .topgradient::after{
        content:"";
        position: absolute;
        inset-inline:0;
        inset-block-start: 0;
        height: 6px;
        background:linear-gradient(to bottom, var(--color-accent-100));
        z-index: 10;
    }
    
}

html, body{
 font-family: var(--font-sans);   
 font-weight: normal;
 scroll-behavior: smooth;
}

